:root {
    --is-toggled: 0
}
  
#wrapper.toggled {
    --is-toggled: 1
}

.cuerpo{
    overflow-y: auto;
    margin-top: 23px;
    min-height:530px;
    height:100%;
    max-height:85vh;
    background-color:#ECECEC;
    font-family: Aller;
    z-index:1;
    border-bottom:2px solid #394552;
}
.tbl-asistencia{
    font-size: 14px;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
#tbl-asistencia, #card-container {
    overflow-y: scroll;
    height: 65%;
}

#tbl-asistencia_filter,#tbl-asistencia_length{
    display: none;
}
.cabecera {
    width: 100%;
    position: sticky;
    top: 0;
    background: #000C38;
    color: #FFFFFF;
}

.cabecera th{
    text-align: center;
    padding: 8px;
}

.text-12{
    font-size: 12px;
}
.reloj{   
    font-family: 'LetraDigital';
    font-size: 40px;
    margin: 10px;
}

.cronometro{   
    font-family: 'LetraDigital';
    font-size: 27px;
}
.foto{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.tr-persona,#btn-registrar,#btn-offline{
    cursor: pointer;
}
.resaltar{
    color: rgb(26, 128, 239);
    font-weight: bold;
}

#fotopersona{
    margin-top: 5px;
    height: 250px;
    border-radius: 8%;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.panel{
    margin-bottom: 0;
}

.bg-dark{
    color: #ECECEC;
    background: rgb(41, 41, 41);
}

@media (max-width: 1331px){
    .small-toggle .bg-dark{
        background: none;
    }
    .small-toggle .bg-dark h3{
        color: #ECECEC;
        background: rgb(41, 41, 41);
        padding: 15px;
        margin: 15px 0px;
    }
}

@media (max-width: 506px){
    .selAsistencia{
        width: 100%;
        margin-bottom: 10px;
    }
    #inputAsistencia{
        width: 100%;
    }
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 5px;
}
.card-body {
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
}
.card-content{
    width: 75%;
}
.card-check{
    font-size: 25px;
    width: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
}