.auth-container{
    min-height: 60vh;
    min-width: 60vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
}

@media (min-width: 1200px){
    .right{
        position: absolute;
        right: 12%;
    }
}

.text-light{
    margin-left: 10px;
    color: beige;
    font-size: 1.5rem;
}

#txtusuario{
    margin-right: 29px;
}