.auth-container{
    min-height: 60vh;
    min-width: 60vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    position: absolute;
    left: 75vh;
}

.text-light{
    margin-left: 10px;
    color: beige;
    font-size: 1.5rem;
}

#txtusuario{
    margin-right: 29px;
}