*{
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    color: #3C3C3C;
}

.row{
    width: 100vw;
    margin: 0;
}

#image-login, #auth-content{
    padding: 0;
    height: 100vh;
}

#image-login{
    background-image: url('../img/fondo.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
}

.card{
    height: 100vh;
    padding: 20px 128px;
}

.sh-form {
    flex: 1;
}

.card-body{
    display: flex;
    align-items: center;
}

.auth_thumb{
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 15vh;
    margin-bottom: 2.5rem;
}

.auth_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;        
    margin-bottom: 1.4rem;
}
.auth_separator{
    width: 100%;
    height: 0.5px;
    background-color: #8E8E8E;
    position: relative;
    margin-bottom: 20px;
}

.form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin-top: 10px;
}

.input-group{
    margin-right: 0;
    width: 100%;
}

#btnlogeo{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 27px;
    font-size: 1.7rem;
    background: #D36E4B;
}

#errorLog{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin-top: 1.5rem;
    color: rgb(195, 46, 46);
    text-align: center;
    display: none;
}