*{
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    color: #3C3C3C;
}

.welcome{
    display: none;
    width: 100vw;
    height: 93vh;
    background-image: url('../img/fondo.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
}

.row{
    width: 100vw;
    margin: 0;
}

#image-login, #auth-content{
    padding: 0;
    height: 100vh;
}

#auth-content{
    background: white;
}

.frmlogeo{
    width: 100vw;
}

#image-login{
    background-image: url('../img/fondo.jpg');
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
}

.card{
    max-height: fit-content;
    height: 100%;
    padding: 4% 18%;
}

.card-body{
    width: 100%;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.auth_thumb{
    display: flex;
    justify-content: center;
    height: 11vw;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.auth_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;        
    margin-bottom: 1.8rem;
}
.auth_separator{
    width: 100%;
    height: 0.5px;
    background-color: #8E8E8E;
    position: relative;
}

.form-label{
    font-size: 1.7rem;
    margin-top: 2.5rem;
}

.input-group{
    margin-right: 0;
    width: 100%;
}

#btnlogeo{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    font-size: 1.7rem;
    background: #000C38;
}

#errorLog{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin-top: 1.5rem;
    color: rgb(195, 46, 46);
    text-align: center;
    display: none;
}

@media (max-width: 1441px) and (min-width: 991px){
    .card{
        padding: 6% 15%;
    }
    #image-login{
        display: none;
    }
    #auth-content{
        width: 60%;
        align-items: center;
        left: 20%;
        right: 20%;
    }
    .frmlogeo{
        background-image: url('../img/fondo.jpg');
        background-position: center;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        -o-background-size:cover;
        align-items: center;
    }
}
@media (max-width: 991px){
    #image-login{
        display: none;
    }
    .auth-content{
        width: 100%;
    }
}

@media (max-height: 600px){
    .card{
        padding: 2% 15%;
    }
}

@media (min-width: 585px){
    .auth_thumb{
        height: 60px;
    }
}