.full{
    background:url('../../vista/img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
}
.font-e{
    font-family:DeVinneOrn;
    font-size:50px;
}
.navbar{
    background: rgb(41, 41, 41);
}