.font-cima{font-family:DeVinneOrn;font-size:50px;}
.fondo-azul{background-image:url(../../vista/img/fondo_cabecera.png);background-repeat:repeat-x;color:#ffffff;}
.footer{position:absolute;bottom:0;width:100%;height:40px;background-color:#f5f5f5;}